.admin {

  a {
    color:$primary-font-color;
  }

  form {
    padding:0;
  }

  .adminLoginForm {
    width:300px;
    margin:50px auto;
  }

  .main-content {
    margin-top:40px;

    .admin-options {
      text-align: right;

      .use-btn {
        float:left;
      }

      a:first-child {
        padding-right:15px;
      }

    }

    .padTop {
      padding-top: 74px;
    }

    .grey-bg {
      position: absolute;
      bottom:0;
      margin:0;
      padding:6px 10px;
      background:#ccc;
    }

    .img-thumb {
      position: relative;
      display: inline-block;
      width: 194px;
      height: 170px;
      margin: 10px;
      background-position:center center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .product-images {
      display: inline-block;
      width: 150px;
      height: 100px;
      margin: 10px;

      img {
        width:100%;
      }
    }

    .img-selected {
      border:solid 5px $primary-color;
    }

    .dnd-area {
      width:100%;
      height:75px;
      margin-bottom:20px;
      padding-top:3px;
      text-align:center;
      border:dashed 3px #ccc;
      background-color:rgb(240, 240, 240);

      p {
        margin-bottom:32px;
      }
    }
      .on-dragover {
        background-color: #ccc;
      }

      #imgPreviewHolder {
        height:75px;
        text-align:center;
        background-color:rgb(240, 240, 240);
      }

    .orderQty {
      width: 85px;
    }
    .orderStatus {
      width: 125px;
    }
    .shipping-info-container {
      cursor: pointer;
    }


  }

  .admin-menu {
    display:inline-block;
    margin:50px;
    font-family:$primary-font-family;

    dd a {
      font-size: 0.9em;
    }

  }

}
