.adminLoginForm {
  width:300px;
  margin:50px auto;
}

.admin {

  a {
    color:$primary-font-color;
  }

  form {
    padding:0;
  }

  .main-content {
    margin-top:40px;
  }

  .admin-menu {
    display:inline-block;
    margin:50px;
    font-family:$primary-font-family;

    dd a {
      font-size: 0.9em;
    }

  }

}
