.admin {

  a {
    color:$primary-font-color;
  }

  form {
    padding:0;
  }

  .adminLoginForm {
    width:300px;
    margin:50px auto;
  }

  .main-content {
    margin-top:40px;

    .admin-users-options {
      text-align: right;
    }

  }

  .admin-menu {
    display:inline-block;
    margin:50px;
    font-family:$primary-font-family;

    dd a {
      font-size: 0.9em;
    }

  }

}
