.admin {

  a {
    color:$primary-font-color;
  }

  form {
    padding:0;
  }

  .adminLoginForm {
    width:300px;
    margin:50px auto;
  }

  .main-content {
    margin-top:40px;

    .admin-options {
      text-align: right;

      .use-btn {
        float:left;
      }

      a:first-child {
        padding-right:15px;
      }

    }

    .grey-bg {
      background:#ccc;
      padding:6px 10px;
    }

    #dropZone {
      width:100%;
      height:100px;
      padding:15px;
      border:dashed 5px #ccc;
    }

  }

  .admin-menu {
    display:inline-block;
    margin:50px;
    font-family:$primary-font-family;

    dd a {
      font-size: 0.9em;
    }

  }

}
