* {
  box-sizing:border-box;
}

body {
  margin:0;
  padding:0;

  font-family:$primary-font-family;
  font-size:16px;
  font-weight:400;
  color:$primary-font-color;
}

h1 {
  font-size:3em;
}
h2 {
  font-size:2.5em;
}
h3 {
  font-size:2em;
}
h4 {
  font-size:1.5em;
}
h5 {
  font-size:1.25em;
}
h1, h2, h3, h4, h5 {
  font-weight:bold;
}

h1, h2, h3, h4, h5, ul, p {
  margin:15px 0;
  padding:0;
  line-height:normal;
  letter-spacing:normal;
}

a {
  text-decoration:none;
  color:white;
}

img {
	width:100%;
}

strong {
  font-weight:600;
}

form {
  padding:0 20px;
}
input, select, textarea {
  border-radius:0 !important;
  border:solid 1px $form-border-color;

  &:focus {
    border-color:$primary-color !important;
  }
}
select {
  &:focus {
    background-image:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 29 14" width="29"><path fill="#fdaf17" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>');
  }
}
input[type='date'], input[type='file'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 0.1rem solid #d1d1d1;
  border-radius: .4rem;
  box-shadow: none;
  box-sizing: inherit;
  height: 3.8rem;
  padding: .6rem 1.0rem;
  width: 100%;
}
input[type=submit], button {
  width:100%;
  font-family:$primary-font-family;
  font-size:1em;
  color:white;
  border:solid 1px $primary-color;
  border-radius:0;
  background:$primary-color;
}

button {
  border:solid 1px $darkBgColor;
  background:$darkBgColor;
}
.button[disabled]:focus, .button[disabled]:hover, button[disabled]:focus, button[disabled]:hover, input[type='button'][disabled]:focus, input[type='button'][disabled]:hover, input[type='reset'][disabled]:focus, input[type='reset'][disabled]:hover, input[type='submit'][disabled]:focus, input[type='submit'][disabled]:hover {
  background-color:#fed78b;
  border-color:#fed78b;
}

textarea {
  height:150px;
}
fieldset {
  margin-top:25px;
}
label.inline {
  display:inline;
}

hr {
  margin:15px 0 20px 0;
}

.container {
  padding:0;
}
.row .column.column-10 {
  display:none;
}
.row .column.column-40 {
  max-width:100%;
}

@media only screen and (min-width:480px) {

  h3 {
    font-size:3em;
  }

}
@media only screen and (min-width:768px) {

  h3 {
    font-size:2em;
  }

  .container {
    padding:0 2rem;
  }

  .row .column.column-10 {
    display:initial;
  }

  .row .column.column-40 {
    max-width:40%;
  }

}
@media only screen and (min-width:1024px) {

  img {
    width:initial;
  }

}
