.login-form {
  width: 300px;
  margin: 50px auto;
}

.member-home {
  padding:35px;

  .member-orders {
    .order-row {

      &:hover {
        cursor: pointer;
        background-color:rgb(218, 218, 218);
      }
    }

    .item-row {
      padding-left:25px;
    }
  }
}
