<footer role="content-info">
  <div class="siteinfo">&copy; BannerStack.com. All Rights Reserved. <a href="/admin/login" class="js-admin-login-btn">Admin</a></div>
  <ul>
    <li><a href="/">Home</a></li>
    <li class="separator">|</li>
    <li><a href="/products">Products</a></li>
    <li class="separator">|</li>
    <li><a href="/create">Create</a></li>
    <li class="separator">|</li>
    <li><a href="/cart">Cart</a></li>
    <li class="separator">|</li>
    <li><a href="/contact">Contact</a></li>
    <li class="separator">|</li>
    <li class="js-member-link"></li>
  </ul>
</footer>
