<header>
  <a href="/"><div class="logo"><h1 class="sr-only"><header role="banner">BannerStack</header></h1></div></a>
  <nav role="nav">
    <div class="menu-icon js-nav-toggle">
      <i class="fa fa-bars" aria-hidden="true"></i>
      <span class="sr-only">Open Navigation</span>
    </div>
    <ul>
      <li><a href="/">Home</a></li>
      <li class="separator">|</li>
      <li><a href="/products">Products</a></li>
      <li class="separator">|</li>
      <li><a href="/create">Create</a></li>
      <li class="separator">|</li>
      <li><a href="/cart">Cart</a></li>
      <li class="separator">|</li>
      <li><a href="/contact">Contact</a></li>
      <li class="separator">|</li>
      <li><a href="/login">Login</a></li>
    </ul>
  </nav>
</header>
