<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>BannerStack - Design</title>
  <meta name="description" content="Page definition for SEO purposes.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//fonts.googleapis.com/css?family=Montserrat:400,600" rel="stylesheet">
  <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
  <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
  <link href="/css/main.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://dta8vnpq1ae34.cloudfront.net/app/83/js/app.js"></script>
</head>
<body>
  <main role="main">

    <header>
      <a href="/"><div class="logo"><h1 class="sr-only"><header role="banner">BannerStack</header></h1></div></a>
      <nav role="nav">
        <div class="menu-icon js-nav-toggle">
          <i class="fa fa-bars" aria-hidden="true"></i>
          <span class="sr-only">Open Navigation</span>
        </div>
        <ul>
          <li><a href="/">Home</a></li>
          <li class="separator">|</li>
          <li><a href="/products/">Products</a></li>
          <li class="separator">|</li>
          <li><a href="/create/">Create</a></li>
          <li class="separator">|</li>
          <li><a href="/cart/">Cart</a></li>
          <li class="separator">|</li>
          <li><a href="/contact/">Contact</a></li>
        </ul>
      </nav>
    </header>

    <section class="cart">
      <div class="row main-row">
        <div class="column">

          <div class="table-header">
            <div class="column">CUSTOMIZE YOUR DESIGN</div>
          </div>

          <div id="pp_inline_div" style="width:100%; height: 0; margin: 0 auto; position: relative; overflow: hidden;"></div>
          <div id="pp_loader_div"><img src="//dta8vnpq1ae34.cloudfront.net/images/loaders/anim-ring.svg" ></div>
          <a href="#" id="launch_btn" onclick="showDesigner();" class="product-details-btn">Launch Designer</a>
          <div id="pp_preview_div"></div>

        </div>
      </div>
    </section>

    <footer role="content-info">
      <div class="siteinfo">&copy; BannerStack.com. All Rights Reserved. <a href="/admin/login" class="js-admin-login-btn">Admin</a></div>
      <ul>
        <li><a href="/">Home</a></li>
        <li class="separator">|</li>
        <li><a href="/products/">Products</a></li>
        <li class="separator">|</li>
        <li><a href="/create/">Create</a></li>
        <li class="separator">|</li>
        <li><a href="/cart/">Cart</a></li>
        <li class="separator">|</li>
        <li><a href="/contact/">Contact</a></li>
      </ul>
    </footer>

  </main>

  <script src="https://use.fontawesome.com/5c109d0058.js"></script>
  <script src="https://js.stripe.com/v3/"></script>
  <script src="/js/stripeCode.js" type="text/javascript"></script>
  <script src="/js/shared.js" type="text/javascript"></script>
  <script src="/js/user.js" type="text/javascript"></script>
  <script src="/js/cart.js" type="text/javascript"></script>
  <script src="/js/designer.js" type="text/javascript"></script>
  <script src="/js/app.js" type="text/javascript"></script>

</body>
</html>
