<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head', {title: 'Checkout'}) -%>
</head>
<body>
  <main role="main">
    <%- include('../partials/header') -%>

    <form id="payment-form" class="cart-form">
      <section class="cart">
        <div class="container">
          <div class="row main-row">
            <div class="column cart-product-rows">

              <div class="row table-header">
                <div class="column">PRODUCTS IN CART</div>
              </div>

              <div class="js-cart-display"></div>

              <div class="order-total show-large">
                <hr>
                <strong>ORDER TOTAL:</strong> $<span class="js-order-total"></span>
              </div>

            </div>
            <div class="columnSpacer"></div>
            <div class="column cart-form-rows">

              <div class="row table-header">
                <div class="column">YOUR CONTACT INFORMATION</div>
              </div>
              <fieldset>
                <legend class="sr-only">Your Contact Information</legend>
                <div class="row">
                  <div class="column">

                    <label for="user-name" class="sr-only">Name</label>
                    <input type="text" id="user-name" maxlength="75" required placeholder="Name">

                    <label for="user-phone" class="sr-only">Phone</label>
                    <input type="tel" id="user-phone" maxlength="25" required placeholder="Phone">

                    <div class="row">
                      <div class="column">
                        <label for="user-email" class="sr-only">Email</label>
                        <input type="email" id="user-email" maxlength="75" required placeholder="Email">
                      </div>
                      <div class="column">
                        <label for="user-email-confirm" class="sr-only">Confirm Email</label>
                        <input type="email" id="user-email-confirm" maxlength="75" required placeholder="Confirm Email">
                      </div>
                    </div>

                  </div>
                </div>
              </fieldset>

              <div class="row table-header">
                <div class="column">CREDIT CARD INFORMATION</div>
              </div>
              <fieldset>
                <legend class="sr-only">Credit Card Information</legend>
                <div class="row">
                  <div class="column">
                    <label for="billing-name" class="sr-only">Name</label>
                    <input type="text" id="billing-name" maxlength="75" required placeholder="Name on Card">

                    <label for="billing-address" class="sr-only">Address</label>
                    <input type="text" id="billing-address" maxlength="75" required placeholder="Address">

                    <div class="row">
                      <div class="column">
                        <label for="billing-city" class="sr-only">City</label>
                        <input type="text" id="billing-city" maxlength="75" required placeholder="City">
                      </div>
                      <div class="column">
                        <label for="billing-state" class="sr-only">State</label>
                        <select id="billing-state" class="js-states-select"></select>
                      </div>
                      <!--<div class="column">
                        <label for="billing-zip" class="sr-only">Zip</label>
                        <input type="text" id="billing-zip" maxlength="10" required placeholder="Zip">
                      </div>-->
                    </div>
                    <div id="card-element"></div>

                    <!-- Used to display form errors -->
                    <div id="card-errors" role="alert"></div>

                  </div>
                </div>
              </fieldset>

              <input type="submit" value="REVIEW ORDER">
              <input type="hidden" id="billing-total" readonly required value="">
              <input type="hidden" id="products-total" readonly required value="">

            </div>
          </div>
        </div>
      </section>
    </form>

    <%- include('../partials/footer') -%>

  </main>

  <%- include('../partials/final-scripts') -%>
  <script src="/js/checkout.js" type="text/javascript"></script>
  <script src="/js/shipping.js" type="text/javascript"></script>
  <script src="/js/app.js" type="text/javascript"></script>

</body>
</html>
