<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head', {title: 'Contact Us'}) -%>
</head>
<body>
  <main role="main">
    <%- include('../partials/header') -%>

    <section class="contact">
      <div class="container">
        <div class="row">
          <div class="column">
            <br><h3>CONTACT US</h3>
          </div>
        </div>
        <div class="row">
          <div class="column column-20">
            <h4>Headquarters:</h4>
            <p>
              434 W. Nakoma<br>
              San Antonio, TX 78216<br>
              (210) 265-1620<br>
              <a href="mailto:contact@bannerstack.com" class="darkLink">contact@bannerstack.com</a>
            </p>
          </div>
          <div class="column column-10"></div>
          <div class="column">
            <div class="error-msg hide js-error-msg"></div>
            <form class="contact-form js-contact-form">
              <div class="row">
                <div class="column">
                  <label for="firstName">First Name:</label>
                  <input type="text" id="firstName">
                </div>
                <div class="column">
                  <label for="lastName">Last Name:</label>
                  <input type="text" id="lastName">
                </div>
              </div>
              <div class="row">
                <div class="column">
                  <label for="email">Email:</label>
                  <input type="email" id="email">
                </div>
                <div class="column">
                  <label for="emailConfirm">Confirm Email:</label>
                  <input type="email" id="emailConfirm">
                </div>
              </div>
              <div class="row">
                <div class="column">
                  <label for="subject">Subject:</label>
                  <input type="text" id="subject">
                </div>
              </div>
              <div class="row">
                <div class="column">
                  <label for="message">Message:</label>
                  <textarea id="message"></textarea>
                </div>
              </div>
              <div class="row">
                <div class="column">
                  <input type="submit" id="contactSubmit" value="Submit">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <%- include('../partials/footer') -%>

  </main>

  <%- include('../partials/final-scripts') -%>
  <script src="/js/app.js" type="text/javascript"></script>

</body>
</html>
