<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head', {title: 'Design Templates'}) -%>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://dta8vnpq1ae34.cloudfront.net/app/83/js/app.js"></script>
</head>
<body>
  <main role="main">
    <%- include('../partials/header') -%>

    <section class="products">
      <div class="row main-row">
        <div class="column">

          <div class="table-header">
            <div class="column">CHOOSE A STARTING DESIGN</div>
          </div>
          <div class="products-list js-category-list"></div>

        </div>
      </div>
    </section>

    <%- include('../partials/footer') -%>

  </main>

  <%- include('../partials/final-scripts') -%>
  <script src="/js/templates.js" type="text/javascript"></script>
  <script src="/js/app.js" type="text/javascript"></script>

</body>
</html>
