<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head', {title: 'Member Home'}) -%>
</head>
<body>
  <main role="main">
    <%- include('../partials/header') -%>

    <section class="member-home">
      <div class="hide error-msg js-error-msg"></div>
      <div class="row">
        <div class="column">
          <div class="js-member-content"></div>
        </div>
      </div>
    </section>

    <%- include('../partials/footer') -%>
  </main>

  <%- include('../partials/final-scripts') -%>
  <script src="/js/user.js" type="text/javascript"></script>
  <script src="/js/orders.js" type="text/javascript"></script>
  <script src="/js/app.js" type="text/javascript"></script>

</body>
</html>
