<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head', {title: 'Order Review'}) -%>
</head>
<body>
  <main role="main">
    <%- include('../partials/header') -%>

    <section class="cart">
      <div class="container">
        <div class="row main-row">
          <div class="column cart-product-rows">

            <div class="row table-header">
              <div class="column">PRODUCTS IN CART</div>
            </div>

            <div class="js-cart-display"></div>

            <div class="order-total show-large">
              <hr>
              <strong>ORDER TOTAL:</strong> $<span class="js-order-total"></span>
            </div>

          </div>
          <div class="columnSpacer"></div>
          <div class="column cart-form-rows">

            <div class="row table-header">
              <div class="column">YOUR CONTACT INFORMATION</div>
            </div>
            <div class="session-info">
              <div><strong>Name:</strong> <span id="user-name"></span></div>
              <div><strong>Phone:</strong> <span id="user-phone"></span></div>
              <div><strong>Email:</strong> <span id="user-email"></span></div>
            </div>

            <div class="row table-header">
              <div class="column">CREDIT CARD INFORMATION</div>
            </div>
            <div class="session-info">
              <div><strong>Name on Card:</strong> <span id="billing-name"></span></div>
              <div><strong>Address:</strong> <span id="billing-address"></span></div>
              <div><strong>City:</strong> <span id="billing-city"></span></div>
              <div><strong>State:</strong> <span id="billing-state"></span></div>
              <!--<div><strong>Zip:</strong> <span id="billing-zip"></span></div>-->
              <div><strong>Card:</strong> ************<span id="billing-last4"></span></div>
            </div>

            <div class="error-msg hide js-error-msg"></div>

            <div class="row">
              <div class="column">
                <a href="/cart/" class="product-details-btn">
                  <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                  EDIT CART
                  <i class="fa fa-caret-right" aria-hidden="true"></i>
                </a>
              </div>
              <div class="column">
                <a href="#" class="product-details-btn js-place-order-btn">
                  <i class="fa fa-check-circle" aria-hidden="true"></i>
                  PLACE ORDER
                  <i class="fa fa-caret-right" aria-hidden="true"></i>
                </a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>

    <%- include('../partials/footer') -%>

  </main>

  <%- include('../partials/final-scripts') -%>
  <script src="/js/shipping.js" type="text/javascript"></script>
  <script src="/js/orders.js" type="text/javascript"></script>
  <script src="/js/app.js" type="text/javascript"></script>

</body>
</html>
