<dl class="admin-menu">
  <dt><a href="/admin/dashboard">Orders</a></dt>
    <dd><a href="/admin/orderStatuses">Order Statuses</a></dd>
  <dt><a href="/admin/products">Products</a></dt>
    <dd><a href="/admin/categories">Categories</a></dd>
    <dd><a href="/admin/images">Images</a></dd>
    <dd><a href="/admin/sizes">Sizes</a></dd>
    <dd><a href="/admin/printers">Printers</a></dd>
    <dd><a href="/admin/media">Media</a></dd>
    <dd><a href="/admin/finishing">Finishing</a></dd>
    <dd><a href="/admin/flat-charges">Flat Charges</a></dd>
    <dd><a href="/admin/artwork-options">Artwork Options</a></dd>
    <dd><a href="/admin/turnarounds">Turnarounds</a></dd>
  <dt><a href="/admin/users">Users</a></dt>
</dl>
